Repository mk17ru/ITMO-System-Design: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-docstrings, ruff-format, ruff-check, mypy, sort-pyproject-toml, poetry-check-lock

py-docstrings:
  name: py-docstrings
  entry: bash -c 'for file in "$@"; do poetry run doq -w -f $file -t ./docs/pydoq_templates; done'
  language: system

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system

ruff-check:
  name: ruff-check
  entry: poetry run ruff check --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

sort-pyproject-toml:
  name: sort-pyproject-toml
  entry: toml-sort --ignore-case --in-place --sort-first tool.poetry,tool.poetry.dependencies.python --sort-table-keys --sort-inline-arrays
  language: system

poetry-check-lock:
  name: poetry-check-lock
  entry: poetry check --lock
  language: system
  pass_filenames: false

small fix
  .pre-commit-config.yaml
Due: none

small fix
  README.md
Due: none

commands added
  src/__init__.py
  src/commands/__init__.py
  src/commands/base_command.py
  src/commands/cat_command.py
  src/commands/echo_command.py
  src/commands/exit_command.py
  src/commands/external_command.py
  src/commands/pwd_command.py
  src/commands/wc_command.py
  tests/cat_test.py
  tests/echo_test.py
  tests/exit_test.py
  tests/pwd_test.py
  tests/wc_test.py
Due: ruff-format, ruff-check, mypy

commands added docs
  src/commands/base_command.py
Due: ruff-format, ruff-check, mypy

added sphinx support
  .pre-commit-config.yaml
  README.md
Due: none

commands added
  .pre-commit-config.yaml
  cli/commands/__init__.py
  cli/commands/base_command.py
  cli/commands/cat_command.py
  cli/commands/echo_command.py
  cli/commands/exit_command.py
  cli/commands/external_command.py
  cli/commands/pwd_command.py
  cli/commands/wc_command.py
  cli/main.py
  pyproject.toml
Due: py-docstrings, ruff-format, ruff-check, mypy, sort-pyproject-toml, poetry-check-lock

fix
  README.md
  docs/build/doctrees/cli.commands.doctree
  docs/build/doctrees/cli.doctree
  docs/build/doctrees/environment.pickle
  docs/build/markdown/cli.commands.md
  docs/build/markdown/cli.md
  docs/build/markdown/modules.md
  docs/source/cli.commands.rst
  docs/source/cli.rst
  docs/source/conf.py
Due: ruff-format, ruff-check, mypy

Save
  src/__init__.py
  src/commands/__init__.py
  src/commands/base_command.py
  src/commands/cat_command.py
  src/commands/echo_command.py
  src/commands/exit_command.py
  src/commands/external_command.py
  src/commands/pwd_command.py
  src/commands/wc_command.py
Due: ruff-format, ruff-check, mypy

fix
  docs/source/index.rst
Due: none

add reader, storage and tests
  cli/parser.py
  cli/reader.py
  cli/storage.py
  tests/parser_test.py
  tests/reader_test.py
  tests/storage_test.py
  tests/testfile.txt
Due: py-docstrings, ruff-format, ruff-check, mypy

commands tests fix
  cli/commands/cat_command.py
  cli/commands/echo_command.py
  cli/commands/exit_command.py
  cli/commands/external_command.py
  cli/commands/pwd_command.py
  cli/commands/wc_command.py
  tests/cat_test.py
  tests/echo_test.py
  tests/exit_test.py
  tests/pwd_test.py
  tests/wc_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

add parser
  cli/commands/base_command.py
  cli/commands/cat_command.py
  cli/commands/echo_command.py
  cli/commands/external_command.py
  cli/commands/wc_command.py
  cli/parser.py
  cli/storage.py
  tests/parser_test.py
  tests/reader_test.py
  tests/storage_test.py
  tests/testfile.txt
Due: py-docstrings, ruff-format, ruff-check, mypy

add gitignore
  .gitignore
Due: none

fixes
  cli/commands/base_command.py
  cli/commands/cat_command.py
  cli/commands/echo_command.py
  cli/commands/external_command.py
  cli/commands/wc_command.py
  cli/parser.py
  cli/reader.py
  cli/storage.py
  poetry.lock
  tests/cat_test.py
  tests/echo_test.py
  tests/parser_test.py
  tests/reader_test.py
  tests/storage_test.py
  tests/wc_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

linter fix
  cli/parser.py
Due: py-docstrings, ruff-format, ruff-check, mypy

fix-hw1
  system-design.png
Due: none

added executor && main logic
  cli/commands/base_command.py
  cli/commands/cat_command.py
  cli/commands/echo_command.py
  cli/commands/exit_command.py
  cli/commands/external_command.py
  cli/commands/wc_command.py
  cli/executor.py
  cli/main.py
  cli/parser.py
  cli/presenter.py
  cli/reader.py
  cli/storage.py
  docs/source/conf.py
  main.py
  pyproject.toml
  tests/cat_test.py
  tests/commands_tests/__init__.py
  tests/commands_tests/cat_test.py
  tests/commands_tests/echo_test.py
  tests/commands_tests/exit_test.py
  tests/commands_tests/pwd_test.py
  tests/commands_tests/wc_test.py
  tests/executor_test.py
  tests/parser_test.py
  tests/reader_test.py
  tests/storage_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy, sort-pyproject-toml, poetry-check-lock

some updates
  README.md
  cli.py
  docs/build/doctrees/cli.commands.doctree
  docs/build/doctrees/cli.doctree
  docs/build/doctrees/environment.pickle
  docs/build/doctrees/index.doctree
  docs/build/markdown/cli.commands.md
  docs/build/markdown/cli.md
  docs/build/markdown/modules.md
  docs/source/cli.rst
Due: ruff-format, ruff-check, mypy

small fix
  README.md
  main.py
Due: ruff-format, ruff-check, mypy

small comments
  cli/executor.py
Due: py-docstrings, ruff-format, ruff-check, mypy

some fixes
  tests/commands_tests/exit_test.py
Due: ruff-format, ruff-check

added input validation
  README.md
  cli/commands/base_command.py
  cli/commands/external_command.py
  cli/parser.py
  cli/presenter.py
  main.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

improve desc of commands enum
  cli/commands/base_command.py
Due: py-docstrings, ruff-format, ruff-check, mypy

add storage
  cli/parser.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

change main
  main.py
Due: ruff-format, ruff-check, mypy

pre-commit fix
  cli/parser.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

added activity diagramm
  diagrams/factory/activity diagramm.png
Due: none

rename diagram
  diagrams/factory/activity diagram.png
Due: none

Path conditions:
  py-docstrings: any of: ^cli/. and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$, but not: (?x)^(
  tests/
)

  sort-pyproject-toml: any of: pyproject.toml
  poetry-check-lock: any of: pyproject.toml
