Repository mk17ru/ITMO-System-Design: changes, and which pre-commit hooks are due for each by the changed paths.
All: py-docstrings, ruff-format, ruff-check, mypy, sort-pyproject-toml, poetry-check-lock

py-docstrings:
  name: py-docstrings
  entry: bash -c 'for file in "$@"; do poetry run doq -w -f $file -t ./docs/pydoq_templates; done'
  language: system

ruff-format:
  name: ruff-format
  entry: poetry run ruff format
  language: system

ruff-check:
  name: ruff-check
  entry: poetry run ruff check --fix
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

sort-pyproject-toml:
  name: sort-pyproject-toml
  entry: toml-sort --ignore-case --in-place --sort-first tool.poetry,tool.poetry.dependencies.python --sort-table-keys --sort-inline-arrays
  language: system

poetry-check-lock:
  name: poetry-check-lock
  entry: poetry check --lock
  language: system
  pass_filenames: false

add bpmn
  diagrams/factory/bpmn_diagram1.jpg
  diagrams/factory/bpmn_diagram2.jpg
Due: none

add use-case
  diagrams/factory/use-case.jpg
Due: none

fix external command
  cli/commands/external_command.py
  cli/parser.py
  main.py
  tests/commands_tests/external_test.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

fix main
  main.py
Due: ruff-format, ruff-check, mypy

added class diagram
  diagrams/factory_2/class_diagram.png
  diagrams/factory_2/img.png
Due: none

removed useless
  diagrams/factory_2/img.png
Due: none

component diagram
  diagrams/factory_2/component_diagram.png
Due: none

add deployment_diagram
  diagrams/factory_2/deployment_diagram.png
Due: none

add pipes
  cli/commands/base_command.py
  cli/executor.py
  cli/parser.py
  cli/presenter.py
  tests/executor_test.py
  tests/parser_test.py
  tests/presenter_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

fix hw2
  README.md
  cli/commands/external_command.py
  tests/executor_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

fix hw2
  cli/commands/external_command.py
  tests/executor_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

add factory_3
  diagrams/factory_3/finite_state_machine.svg
Due: none

Factory sequence diagram
  diagrams/factory_3/FactorySequence.png
Due: none

add microwave
  diagrams/factory_3/Microvawe.png
Due: none

Рыба для ДЗ №4
  .github/workflows/test.yml
  README.md
  cli/commands/cd_command.py
  cli/commands/ls_command.py
Due: py-docstrings, ruff-format, ruff-check, mypy

Rewiew
  README.md
Due: none

Исправил верстку и некоторые грамматические ошибки. Дополнил отзыв
  README.md
Due: none

add cd
  cli/commands/base_command.py
  cli/commands/cd_command.py
  cli/executor.py
  tests/commands_tests/cd_test.py
  tests/executor_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

LS command
  cli/commands/base_command.py
  cli/commands/ls_command.py
  cli/parser.py
  tests/commands_tests/ls_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

Правки по коду от ruff format
  cli/commands/ls_command.py
  tests/commands_tests/ls_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

Пробуем ручной запуск CI
  .github/workflows/test.yml
Due: none

Исправления от ruff check --fix
  cli/parser.py
Due: py-docstrings, ruff-format, ruff-check, mypy

Разные события по запуску CI в PR
  .github/workflows/test.yml
Due: none

add grep
  cli/commands/base_command.py
  cli/parser.py
  tests/executor_test.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

add grep
  cli/commands/grep_command.py
  cli/parser.py
  tests/executor_test.py
  tests/parser_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

grep tests
  cli/commands/grep_command.py
  tests/commands_tests/external_test.py
  tests/commands_tests/grep_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

fix grep tests
  cli/commands/grep_command.py
Due: py-docstrings, ruff-format, ruff-check, mypy

save
  tests/executor_test.py
Due: ruff-format, ruff-check

Фикс тестов после rebase
  tests/parser_test.py
Due: ruff-format, ruff-check

Перевел docstrings, комментарии и пользовательский вывод на английский
  cli/commands/ls_command.py
  tests/commands_tests/ls_test.py
Due: py-docstrings, ruff-format, ruff-check, mypy

some fixes
  README.md
Due: none

Path conditions:
  py-docstrings: any of: ^cli/. and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$, but not: (?x)^(
  tests/
)

  sort-pyproject-toml: any of: pyproject.toml
  poetry-check-lock: any of: pyproject.toml
